<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.ticket.display.move_to</id>
	<name>Display Ticket 'move to' shortcut</name>
	<description>This adds a 'move to' dropdown shortcut to the Ticket profile page.</description>
	<author>Webgroup Media, LLC.</author>
	<version>1.0.18</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.ticket.display.move_to.html</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="7.3" max="7.3.99" />
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="7.3.0" />
	</dependencies>

	<!-- Extensions -->
 
	<extensions>

		<!-- Controller -->
		
		<extension point="devblocks.controller">
			<id>wgm.ticketdisplaymoveto.controller</id>
			<name>Controller</name>
			<class>
				<file>api/App.php</file>
				<name>Controller_WgmDisplayShortcutAjax</name>
			</class>
			<params>
				<param key="uri" value="wgm.ticketdisplaymoveto" />
			</params>
		</extension>

		<!-- Profile Script -->
		
		<extension point="cerberusweb.ui.context.profile.script">
			<id>wgm.ticketdisplaymoveto.ticket.toolbaritem</id>
			<name>Move To Shortcut</name>
			<class>
				<file>api/App.php</file>
				<name>TicketToolbarItem_WgmDisplayShortcut</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.ticket" />
					</value>
				</param>
			</params>
		</extension>

    </extensions>
</plugin>
